@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    /*Primary*/
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);

    /*Secundary*/
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}

body{
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: contain;
    background-position: top;
    text-align: center;
}

.Summary{
    width: 315px;
    height: 490px;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 20px;
}

.image img{
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}

.Summary h1{
    font-size: 20px;
    font-weight: 900;
    color: #18223E;
    margin-top: 5px;
    padding: 12px;
}

.Summary p {
    font-weight: 400;
    color: var(--Desaturatedblue);
    padding: 0 40px;
    font-size: 14px;
    line-height: 20px;
}

.anual_plan{
    background-color: var(--Verypaleblue);
    margin:20px 20px;
    text-align: left;
    border-radius: 15px;
    display: inline-flex;
    width: 260px;
    
}

.icono img {
    position: absolute;
    padding: 12px;
    margin: 0 auto;
    width: 40px;
}

.text{
    margin-left: 60px;
    padding: 10px;
    display: inline-block;
}

.text h2{
    font-size: 14px;
    font-weight: 700;
    padding: 2px;
   
}


.text span {
    font-weight: 300;
    color: var(--Desaturatedblue);
    font-size: 14px;
}

.link{
    padding: 7px;
    margin: 14px;
    color: var(--Brightblue);
    font-weight: 700;
    font-size: 13px;
    
}

.accept{
    background-color: var(--Brightblue);
    margin: 0 30px 0 30px;
    padding: 15px 50px;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: var(--Verypaleblue);
    border-radius: 10px;
    box-shadow: var(--Paleblue) 0.5rem 1rem 2rem;
    border: none;
    cursor: pointer;
}

.accept:hover{
    background-color: darkblue;
    transition: .3s;
}

.cancel{
    background: none;
    border: none;
    margin: 15px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--Desaturatedblue);
    cursor: pointer;
}

.cancel:hover{
    color: var(--Darkblue);
    transition: .3s;
}

